<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/3310d9bc-a444-4a64-976a-eafb6f3dca3c/resourceGroups/DefaultResourceGroup-CUS/providers/Microsoft.ContainerRegistry/registries/FarmingAssistant20220209120633</ResourceId>
    <ResourceName>FarmingAssistant20220209120633</ResourceName>
    <ResourceGroup>DefaultResourceGroup-CUS</ResourceGroup>
    <Subscription>Free Trial</Subscription>
    <RegistryUrl>https://farmingassistant20220209120633.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e653c8eb-c069-4b61-9d79-792254bb2e31</ProjectGuid>
  </PropertyGroup>
</Project>