<!-- <h1 style="text-align: center;">Farming Assistant Web Service</h1>


<form action="action_page.php" method="post">
    <div class="imgcontainer">
      <img src="../../assets/images/users/1.jpg" alt="Avatar" class="avatar">
    </div>
  
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>
  
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>
  
      <button type="submit" [routerLink]="['/layout']">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
      <button [routerLink]="['/signup']">click here for Sign Up</button>
    </div>
  
    <div class="container" style="background-color:#f1f1f1">
      <button type="button" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form> -->
  
    
            <!-- <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Sign in with</p>
              <button type="button" class="btn btn-success btn-floating mx-1">
                <i class="fab fa-facebook-f"></i>
              </button>
  
              <button type="button" class="btn btn-success btn-floating mx-1">
                <i class="fab fa-twitter"></i>
              </button>
  
              <button type="button" class="btn btn-success btn-floating mx-1">
                <i class="fab fa-linkedin-in"></i>
              </button>
            </div>
  
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Or</p>
            </div> -->
  
            <!-- Email input -->
            <div class="container-fluid h-custom">
              <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-4">
                  <img src="../../assets/images/Farming/FarmingAssitant.jpg" class="img-fluid"
                    alt="Sample image">
                </div>
                <div class="col-8">
                  <form role="form" [formGroup]="userLogin" (ngSubmit)="login()">
            <div class="form-outline mb-4">
              <input type="text" [(ngModel)]="username" #userId class="form-control input-underline input-lg" placeholder="Email" formControlName="username"[ngClass]="{ 'is-invalid': f.username.errors }">
            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                <div *ngIf="f.username.errors.required">Email is required</div>    
                <div *ngIf="f.username.errors.email">Email must be a valid email address</div>
        </div>
        </div>

  
            
            <div class="form-outline mb-3">
              <input type="password" [(ngModel)]="userpassword" #userPassword class="form-control input-underline input-lg" placeholder="Password" formControlName="userpassword"[ngClass]="{ 'is-invalid': f.userpassword.errors }">
            <div *ngIf="submitted && f.userpassword.errors" class="invalid-feedback">
                <div *ngIf="f.userpassword.errors.required">Password is required</div>    
                <div *ngIf="f.userpassword.errors.minlength">Password must be a valid</div>
        </div>

            </div>
  
            <div class="d-flex justify-content-between align-items-center">
              
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a href="#!" class="text-body">Forgot password?</a>
            </div>
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="button" class="btn btn-success btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="login()" >Login</button>
                
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a 
                  class="link-danger" (click)="Register()">Register</a></p>

                  <a [routerLink]="['/forgot-password/na']" style="display:inline-block;margin-top:3%;">
                    <i class="fa fa-fw fa-lock"></i>Forgot Password
                </a>
            
            </div>
  
          </form>
        </div>
      </div>
    </div>
  
      
  