<div class="jumbotron py-3">
    <h1 class="display-4 text-center">Change Password</h1>
</div>
<div class="row">
    <div class="col-md-5">
        <app-changepassword-detail-form></app-changepassword-detail-form>
    </div>
    <div class="col-md-7">
        <div>table with list of records from the table</div>
    </div>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th>Farmer Email</th>
                <th>Old Passwordr</th>
                <th>New Password</th>
                <th></th>
            </tr>
        </thead>
        <tr *ngFor="let pd of service.list">
            <td (click)="populateForm(pd)">{{pd.farmerEmail}}</td>
            <td (click)="populateForm(pd)">{{pd.oldPassword}}</td>
            <td (click)="populateForm(pd)">{{pd.newPassword}}</td>
         

        </tr>
    </table>
</div>